*{
    padding: 0;
    margin: 0;
}

.intro_container{
    box-shadow: 0px 0px 2px 0px gray;
    width: 100%;
    height: 50vh;
    background-image: url('https://d3ugyf2ht6aenh.cloudfront.net/stores/002/351/430/themes/amazonas/slide-1677596472250-100238144-b0a0ed953b0277eb3e34fa18d9047a6d1677596465.png?1312661961');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro_containerTimes{
    width: 100%;
    margin-top: 30px;
}

.intro_containerTimes form {
    height: 20vh;
}

.intro_p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

.search_bar {
    display: flex;
}

.search_bar > button {
    width: 12%;
    height: 5vh;
    cursor: pointer;
    position: relative;
    float: right;
    border: none;
    background-color: rgb(197, 197, 197);
}

.search_bar > button > img {
    width: 90%;
    height: 5vh; 
}

.pesquisa_container{
    margin: auto;
    width: 30%;
    height: 5vh;
    position: relative;
    top: 100px;
}

.pesquisa_container > button{
    width: 10%;
    height: 5vh;
    cursor: pointer;
    position: relative;
    float: right;
    border: none;
    background-color: rgb(197, 197, 197);
}

.pesquisa_container > button > img{
    width: 90%;
    height: 5vh;          
}

.pesquisa_containerTimes{
    margin: auto;
    width: 30%;
    height: 5vh;
    top: 100px;
}

.pesquisa_containerTimes > button{
    width: 10%;
    height: 5vh;
    cursor: pointer;
    position: relative;
    float: right;
    border: none;
    background-color: rgb(197, 197, 197);
}

.pesquisa_containerTimes > button > img{
    width: 90%;
    height: 5vh;          
}

.campo_pesquisa{
    display: flex;
    border: none;
    width: 90%;
    height: 5vh;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px gray;
}

.campo__pesquisa:hover{
    border: none;   
}

.consulta_section-h2{
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.consulta_section{
    padding: 25px;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(211, 211, 211, 0.568);
}

.consulta_section_h1{
    margin: 35px auto;
    display: flex;
    justify-content: center;
}

.jogador_consulta{
    box-shadow: 0px 0px 2px 0px rgb(149, 149, 236);
    margin-top: 15px;
    width: 18%;
    height: 50vh;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

.jogador__consulta:hover{
    box-shadow: 0px 0px 5px 0px rgb(149, 149, 236);
    cursor: pointer;
    top: -2px;
}

.jogador__consulta > img {
    width: 50%;
    height: 17vh;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* margens entre as informações */

.jogador_p{
    text-align: center;
    margin: 10px;
}

/* nova estrutura */
.banner_container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.banner_container > img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 17vh;
}

.jogador_img{
    border-radius: 50%;
    width: 50%;
    height: 17vh;
    position: absolute;
}

.jogador_img > img{
    border-radius: 50%;
    width: 100%;
    height: 17vh;
    z-index: 1;
    position: static;
}

/* Botão de estatisticas */

.button_estatistica{
    width: 50%;
    background-color: rgb(74, 74, 239);
    border-radius: 5px;
    color: white;
    height: 5vh;
    border: none;
    cursor: pointer;
    transition: 0.6s;
    margin-top: 10px;
}

.button_estatistica:hover{
    background-color: white;
    color:  rgb(74, 74, 239);
    border: 1px solid rgb(74, 74, 239);
}

/* Botão de fechar o modal */

.close_dialog{
    width: 25%;
    background-color: rgb(74, 74, 239);
    border-radius: 5px;
    color: white;
    height: 5vh;
    border: none;
    cursor: pointer;
    transition: 0.6s;
    margin-top: 10px;
}

.close_dialog{
    background-color: white;
    color:  rgb(74, 74, 239);
    border: 1px solid rgb(74, 74, 239);
}

/* Consulta Time */

.consulta_time_section{
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.time_consulta{
    box-shadow: 0px 0px 1px 0px rgb(149, 149, 236);
    margin-top: 15px;
    width: 10%;
    height: 17vh;
    border-radius: 50%;
    position: relative;
}

.time_consulta > img{
    width: 100%;
    height: 17vh;
    margin-bottom: 10px;
} 

.time_consulta:hover{
    box-shadow: 0px 0px 5px 0px rgb(149, 236, 175);
}

/* Modal */

.modal{
    text-align: center;
    justify-content: center;
    margin: -400px auto;
    position: fixed;
    width: 20%;
    height: 30vh;
    z-index: 5;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    box-shadow: 0px 0px 2px 0px;
    line-height: 25px;
    background-color: white;
}

.modal > h2{
    margin-bottom: 35px;
}

/* Modal Time */

.modal_time{
    text-align: center;
    justify-content: center;
    margin: -170px auto;
    position: fixed;
    width: 30%;
    height: 40vh;
    z-index: 5;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    box-shadow: 0px 0px 2px 0px;
    line-height: 25px;
}

.modal_time > h2{
    margin-bottom: 35px;
}

/* footer */
.footer_container{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer_container > .footer_bar{
    text-align: center;
    padding: 10px;
    height: 2vh;
    background-color: blanchedalmond;
    color: black;
    border-top: 1px solid rgba(128, 128, 128, 0.205);
}

.resultados {
    display: flex;
    position: relative;
    padding-bottom: 40px;
}

.resultados ul {
    width: 100%;
    list-style: none;
    max-width: 80%; /* largura máxima da lista */
    margin: 0 auto; /* centraliza a lista na página */
    padding: 10px;
}

.resultados ul li {
    display: inline-block;
    vertical-align: top;
    width: 20%; /* largura de cada item */
    margin: 0 1.66%; /* margem entre cada item */
    text-align: justify;

    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com opacidade 80% */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra leve */
    opacity: 0.8; /* Opacidade 80% */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 10px; /* Espaçamento inferior */

    height: 300px; /* Altura fixa de 100px */
    margin-right: 10px; /* Espaçamento à direita */
    vertical-align: top; /* Alinhamento vertical superior */
}

.resultados ul li img {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.resultados button {
    display: block; /* transforma o botão em bloco para definir largura e margens */
    max-width: 800px; /* largura máxima da div */
    margin: 0 auto; /* centraliza a div horizontalmente */
    max-height: 100px;
    position: absolute; /* torna o botão filho */
    bottom: 0; /* alinha o botão à parte inferior da div pai */
    left: 50%; /* alinha o botão ao centro horizontal */
    transform: translateX(-50%); /* centraliza o botão horizontalmente */
    margin-top: 30px; /* define a margem superior */
    border-radius: 50px; /* define a borda circular */
    background-color: #3498db; /* define a cor de fundo */
    color: white; /* define a cor do texto */
    font-size: 16px; /* define o tamanho da fonte */
    padding: 12px 24px; /* define o preenchimento do botão */
    cursor: pointer; /* transforma o cursor em uma mãozinha */
    transition: all 0.3s ease; /* adiciona uma animação suave */
}   

.resultados button:hover {
    background-color: #2980b9;
  }


.resultadosTimes {
    display: flex;
    position: relative;
    padding-bottom: 40px;
}

.resultadosUl {
    width: 100%;
    list-style: none;
    max-width: 80%; /* largura máxima da lista */
    margin: 0 auto; /* centraliza a lista na página */
    padding: 10px;
    background-color: #3498db;
}

.resultadosUl img {
    display: flex;
    margin: auto;
}

.resultadosUlP {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}

.resultadosTimes ul li {
    display: inline-block;
    vertical-align: top;
    width: 20%; /* largura de cada item */
    margin: 0 1.66%; /* margem entre cada item */
    text-align: justify;

    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com opacidade 80% */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra leve */
    opacity: 0.8; /* Opacidade 80% */
    padding: 10px; /* Espaçamento interno */
    margin: 20px; /* Espaçamento inferior */

    height: 300px; /* Altura fixa de 100px */
    margin-right: 10px; /* Espaçamento à direita */
    vertical-align: top; /* Alinhamento vertical superior */
}

.resultadosTimes ul li img {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.resultadosTimes button {
    display: block; /* transforma o botão em bloco para definir largura e margens */
    max-width: 800px; /* largura máxima da div */
    margin: 0 auto; /* centraliza a div horizontalmente */
    max-height: 100px;
    position: absolute; /* torna o botão filho */
    bottom: 0; /* alinha o botão à parte inferior da div pai */
    left: 50%; /* alinha o botão ao centro horizontal */
    transform: translateX(-50%); /* centraliza o botão horizontalmente */
    margin-top: 30px; /* define a margem superior */
    border-radius: 50px; /* define a borda circular */
    background-color: #3498db; /* define a cor de fundo */
    color: white; /* define a cor do texto */
    font-size: 16px; /* define o tamanho da fonte */
    padding: 12px 24px; /* define o preenchimento do botão */
    cursor: pointer; /* transforma o cursor em uma mãozinha */
    transition: all 0.3s ease; /* adiciona uma animação suave */
}   

.resultadosTimes button:hover {
    background-color: #2980b9;
  }

  .jogadoresList {
    width: 100%;
    list-style: none;
    max-width: 80%; /* largura máxima da lista */
    margin: 0 auto; /* centraliza a lista na página */
    padding: 10px;
  }
  
  .jogadoresList li {
    display: inline-block;
    vertical-align: top;
    width: 20%; /* largura de cada item */
    margin: 0 1.66%; /* margem entre cada item */
    text-align: justify;

    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com opacidade 80% */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra leve */
    opacity: 0.8; /* Opacidade 80% */
    padding: 10px; /* Espaçamento interno */
    margin: 20px; /* Espaçamento inferior */

    height: 300px; /* Altura fixa de 100px */
    margin-right: 10px; /* Espaçamento à direita */
    vertical-align: top; /* Alinhamento vertical superior */
  }
  
  .tecnicosList {
    width: 100%;
    list-style: none;
    max-width: 80%; /* largura máxima da lista */
    margin: 0 auto; /* centraliza a lista na página */
    padding: 10px;
  }
  
  .tecnicosList li {
    display: inline-block;
    vertical-align: top;
    width: 20%; /* largura de cada item */
    margin: 0 1.66%; /* margem entre cada item */
    text-align: justify;

    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com opacidade 80% */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra leve */
    opacity: 0.8; /* Opacidade 80% */
    padding: 10px; /* Espaçamento interno */
    margin: 20px; /* Espaçamento inferior */

    height: 300px; /* Altura fixa de 100px */
    margin-right: 10px; /* Espaçamento à direita */
    vertical-align: top; /* Alinhamento vertical superior */
  }
